<a href="https://colab.research.google.com/github/CllsPy/Machine-Learning/blob/main/Nobel_Prize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Nobel Prize ML

### Bibliotecas

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

### Using Pandas to Get Familiar With Your Data

In [ ]:
nobel_data_path = "/content/drive/MyDrive/Colab Notebooks/nobel_latest.csv"
nobel_data = pd.read_csv(nobel_data_path)
nobel_data.describe()

### Selecting Data for Modeling

In [ ]:
nobel_data.columns

In [1]:
nobel_data = nobel_data.dropna(axis=0)

NameError: ignored

### Selecting The Prediction Target

In [ ]:
nobel_data["Gender"] = (nobel_data["Gender"]=="male").astype(int)

<ipython-input-6-1fce5df4ec15>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nobel_data["Gender"] = (nobel_data["Gender"]=="male").astype(int)

In [ ]:
y = nobel_data.Gender

### Choosing "Features"

In [ ]:
nobel_features = ["Year", "Prize_Share"]
X = nobel_data[nobel_features]
print(X)

     Year  Prize_Share
0    1901            1
1    1901            1
5    1901            1
6    1902            1
10   1902            2
..    ...          ...
849  2011            2
853  2012            2
884  2014            3
908  2016            2
932  2018            2

[458 rows x 2 columns]

In [ ]:
X.describe()

              Year  Prize_Share
count   458.000000   458.000000
mean   1960.146288     2.024017
std      29.214561     0.912754
min    1901.000000     1.000000
25%    1937.000000     1.000000
50%    1964.000000     2.000000
75%    1982.000000     3.000000
max    2018.000000     4.000000

In [ ]:
X.head()

    Year  Prize_Share
0   1901            1
1   1901            1
5   1901            1
6   1902            1
10  1902            2

### Building Your Mode

In [ ]:
nobel_data_model = DecisionTreeRegressor(random_state = 1)

Fit: Capture patterns from provided data. This is the heart of modeling.

In [ ]:
nobel_data_model.fit(X, y)

### Predict

In [ ]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(nobel_data_model.predict(X))